# General
*.log

# MacOS X
.DS_Store
.AppleDouble
.LSOverride
.apdisk
.AppleDB

# IntelliJ IDEA
.idea/
*.iml
*.ipr
# Visual Studio Code
.vscode/

# Python
.Python
.python-version
.venv
venv/
__pycache__/
*.py[cod]
*$py.class
.eggs
*.egg-info
*.egg
